<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Project</title>
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
<meta http-equiv=“X-UA-Compatible” content=“ie=edge”>
<meta name="description" content="Kosta Vukicevic developer profile">
<meta name="keywords" content="Developer, Profile, Personal">
<link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="root">
        
            <div class="logo">
                <img src="logo.png" alt="logo">
                <h1>Name - short description</h1>
            </div>

            <div class="wrapper">
                <div class="left">
                    <div class="accordion">
                        <div class="contentBx">
                            <div class="label">FAQ? Features maybe?</div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        <div class="contentBx">
                            <div class="label">FAQ? Features maybe?</div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias magni ducimus ipsa tempora accusamus provident, neque deleniti minus impedit ratione et aperiam debitis earum? Totam itaque quod nam atque dicta?Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque impedit minima animi vitae necessitatibus rem beatae incidunt et commodi quos pariatur nam, magnam dolore officia, eaque sed quibusdam vel!Lorem
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugit animi praesentium, laboriosam quos quibusdam officiis reiciendis, delectus modi nemo voluptatum. Animi commodi iure saepe repellendus delectus eum dolorum amet!
                                </p>
                            </div>
                        </div>
                        <div class="contentBx">
                            <div class="label">FAQ? Features maybe?</div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias magni ducimus ipsa tempora accusamus provident, neque deleniti minus impedit ratione et aperiam debitis earum? Totam itaque quod nam atque dicta?</p>
                            </div>
                        </div>
                        <div class="contentBx">
                            <div class="label">FAQ? Features maybe?</div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias magni ducimus ipsa tempora accusamus provident, neque deleniti minus impedit ratione et aperiam debitis earum? Totam itaque quod nam atque dicta?</p>
                            </div>
                        </div>
                    </div>
                    <div class="visit">
                        <div class="visit-me">
                            <h1>Some heading</h1>
                            <p>text</p>
                            <div class="btn-box">
                                <a href="#">Link1</a>
                                <a href="#">Link2</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="section flex-column">
                        <h1>Title</h1>
                        <br>
                        <br>
                        <p>
                            <img src="logo.png" alt="img">
                            Some text about the program
                        </p>
                    </div>
                </div>
            </div>

            
    </div>
   <script src="javascript.js"></script>
</body>
</html>
