:root{
    --color1: #1FFF5D;
    --color2: #FFCD1F;
    --color3: #FF1FC1;
    --color4: #1F51FF;
    --time: 15s;
}

*{
    /* border: 1px solid red; */
    font-family: monospace;
    font-weight: 550;
}

body{
    background: linear-gradient(135deg, var(--color1), var(--color2), var(--color3), var(--color4));
    background-size: 400% 400%;
    animation: gradient var(--time) ease infinite;
}
p{
    text-align: center;
    font-size: 18px;
    margin: 15px 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.root{
    display: grid;
    margin: 25px 50px 0px 50px;
    /* height: 800px; */
    grid-template-columns: 1fr 1.5fr;
    color: 	#FAF9F6;
    align-items: center;
}

.section-container{
    margin: 10px 30px;
    justify-self:center;
    flex-direction: column;
    max-width: 400pxs;
}

.section{
    border-radius: 20px;
    padding: 0px 20px;
    background-color:rgb(30, 30, 30);
    display: flex;
}

a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: 	#FAF9F6;
}

#profile{
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#name{
    margin: 30px 10px 10px 10px;
    font-size: 25px;
}

.profile-img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px 10px;
}

#links{
    margin: 30px 0px;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
}

#skills{
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.skill{
    font-size: 12px;
    margin: 10px;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-icon{
    height: 40px;
    justify-self: center;
    align-self: center;
}

.icon-text{
    text-align: center;
    font-size: 10px;
    margin: 0;
    border: 0;
    padding: 0;
}

/* #showcase-container{
    flex:2;
    display: flex;
} */

.showcase{
    flex:auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 40px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    padding: 40px;
    justify-content: center;
}

a img:hover {
    transform: scale(1.05);
}

.project-wrapper{
    border-radius: 20px;
    background-color:rgb(30, 30, 30);
    color: 	#FAF9F6;
    padding: 30px;
    display: grid;
}

.color-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-align: center;
}

#colorpicker-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#colorpicker{
    margin: 10px;
    margin-top: 20px;
    opacity: 0;    
}

#transition{
    display: block;
    margin: 40px;
}

#colorpicker1-wrapper{
    background-color: var(--color1);
    border-radius: 20px;
}

#colorpicker2-wrapper{
    background-color: var(--color2);
    border-radius: 20px;
}

#colorpicker3-wrapper{
    background-color: var(--color3);
    border-radius: 20px;
}

#colorpicker4-wrapper{
    background-color: var(--color4);
    border-radius: 20px;
}

.link-image{
    aspect-ratio: 1;
    height: 20px;
    margin: 0;
}

#colorpicker-text{
    font-size: 20px;
}

@media screen and (max-width: 1280px) {
    .root{
      display:flex;
      flex-direction: column;
      margin: 25px 0px;
    }

    .showcase{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    #profile{
        flex-direction: column;
    }
    
    .profile-img{
        margin: 50px 0px 0px 0px;
    }

    #name{
        text-align: center;
        margin: 45px 0px;
        font-size: 15px;
    }

    .section-container{
        padding: 10px 15px;
        margin: 5px 15px;
        max-width: 300px;
    }

    .project-wrapper{
        max-width: 80vw;
    }

    .skill{
        font-size: 10px;
    }

    .skill-icon{
        height: 30px;
    }

    #colorpicker-text{
        font-size: 20px;
    }

}

  @media screen and (max-width : 1720px) {
        #colorpicker-container{
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(2, minmax(0, 1fr));
            grid-row-gap: 20px;
            justify-items: center;
            padding: 0px 25px;
        }

        .colorpicker-wrapper{
            width: 75%;
            aspect-ratio: 2;
        }

        #colorpicker-text{
            font-size: 15px;
        }
  }
  