:root{
    --color1: #1FFF5D;
    --color2: #FFCD1F;
    --color3: #FF1FC1;
    --color4: #1F51FF;
    --time: 15s;
}

*{
    /* border: 1px solid red; */
    font-family: monospace;
    font-weight: 550;
}

body{
    background: linear-gradient(135deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color3), var(--color2), var(--color1));
    background-size: 700% 700%;
    animation: gradient var(--time) ease infinite;
}
p{
    text-align: center;
    font-size: 18px;
    margin: 15px 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 15%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 15%;
    }
}

.root{
    display: grid;
    margin: 25px 50px 0px 50px;
    /* height: 800px; */
    grid-template-columns: 1fr 1.5fr;
    color: 	#FAF9F6;
    align-items: center;
}

.section-container{
    margin: 10px 30px;
    justify-self:center;
    flex-direction: column;
    max-width: 400pxs;
}

.section{
    border-radius: 20px;
    padding: 0px 20px;
    background-color:rgb(30, 30, 30);
    display: flex;
}

a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: 	#FAF9F6;
}

#profile{
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#name{
    margin: 30px 10px 10px 10px;
    font-size: 25px;
}

.profile-img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 50px 10px;
}

#links{
    margin: 30px 0px;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
}

#skills{
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.skill{
    font-size: 12px;
    margin: 10px;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-icon{
    height: 40px;
    justify-self: center;
    align-self: center;
}

.icon-text{
    text-align: center;
    font-size: 10px;
    margin: 0;
    border: 0;
    padding: 0;
}


.showcase{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
}

a img:hover {
    transform: scale(1.05);
}

.project-wrapper{
    border-radius: 20px;
    background-color:rgb(30, 30, 30);
    color: 	#FAF9F6;
    padding: 30px;
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}


#transition{
    display: block;
    margin: 40px;
}


.link-image{
    aspect-ratio: 1;
    height: 20px;
    margin: 0;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px; */
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideshow-image{
  width: 80%;
  margin-left: 10%;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1280px) {
    .root{
        display:flex;
        flex-direction: column;
        margin: 25px 0px;
    }

    .showcase{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    #profile{
        flex-direction: column;
    }

    .profile-img{
        margin: 50px 0px 0px 0px;
    }

    #name{
        text-align: center;
        margin: 45px 0px;
        font-size: 15px;
    }

    .section-container{
        padding: 10px 15px;
        margin: 5px 15px;
        max-width: 300px;
    }

    .project-wrapper{
        max-width: 80vw;
        font-size: 12px;
        max-width: 800px;
    }

    .skill{
        font-size: 10px;
    }

    .skill-icon{
        height: 30px;
    }

}