:root{
    --color1: #FFCD1F;
    --color2: #1FFF5D;
    --color3: #1fb8ff;
    --color4: #ff1fec;
    --time: 15s;
}

*{
    /* border: 1px solid red; */
    font-family: monospace;
    font-weight: 550;
}

html{
    scrollbar-width: none;
    min-height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    /*overflow: hidden;*/
    background: linear-gradient(135deg, var(--color1), var(--color2), var(--color3), var(--color4));
    background-size: 200% 200%;
    animation: gradient var(--time) ease infinite;
}

p{
    text-align: center;
    font-size: 18px;
    margin: 15px 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.root{
    display: grid;
    margin: 25px 50px 0px 50px;
    /* height: 800px; */
    grid-template-columns: 1fr 1.5fr;
    color: 	#FAF9F6;
    align-items: center;
}

.section-container{
    margin: 10px 30px;
    justify-self:center;
    flex-direction: column;
    max-width: 400px;
}

.section{
    cursor: pointer;
    border-radius: 20px;
    padding: 0px 20px;
    background-color:rgb(30, 30, 30);
    display: flex;
}

a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: 	#FAF9F6;
}

#profile{
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#name{
    margin: 30px 10px 10px 10px;
    font-size: 25px;
}

#links{
    margin: 30px 0px;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
}

#skills{
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-rows: repeat(3, minmax(0, 1fr));  will be set by the javascript */ 
    margin-bottom: 25px;
}

.skill{
    font-size: 12px;
    margin: 10px;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-icon{
    height: 40px;
    justify-self: center;
    align-self: center;
}

.icon-text{
    text-align: center;
    font-size: 10px;
    margin: 0;
    border: 0;
    padding: 0;
}


.showcase{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
}

a img:hover {
    transform: scale(1.05);
}

.project-wrapper{
    border-radius: 20px;
    background-color:rgb(30, 30, 30);
    color: 	#FAF9F6;
    padding: 30px;
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}


#transition{
    display: block;
    margin: 40px;
}


.link-image{
    aspect-ratio: 1;
    height: 20px;
    margin: 0;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: rgba(30, 30, 30, 0.25);
  border-radius: 10px;
}


.mySlides {
    visibility: collapse;
    position: absolute;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 150px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
  align-items: center;
  display: flex;
}

.next {
  right: 0;
}


.prev:hover, .next:hover {
  background-color: rgba(30,30,30,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideshow-image{
  width: 80%;
  margin-left: 10%;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@keyframes inLeft {
    from{
        transform: translateX(-75%) ;
        position: absolute;
        visibility: collapse;
        opacity: 0;
    }to{
        transform: translateX(0%) ;
        visibility: visible;
        position: inherit;
        opacity: 1;
    }
}

@keyframes outRight {
    from{
        transform: translateX(0%) ;
        visibility: visible;
        position: inherit;
        opacity: 1;
    }to{
        transform: translateX(75%) ;
        position: absolute;
        visibility: collapse;
        opacity: 0;
    }
}

@keyframes rotateOutRight {
    from {
        transform: translateX(0%) rotate(0deg) ;
        visibility: visible;
        position: inherit;
        opacity: 1;
    }
    to {
        transform: translateX(75%) translateY(25%) rotate(90deg) ;
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
}

@keyframes rotateInLeft {
    from {
        transform: translateX(-75%) translateY(25%) rotate(-90deg) ;
        opacity: 0;
    }
    to {
        transform: translateX(0%) rotate(0deg) ;
        opacity: 1;
    }
}


@keyframes inRight {
    from{
    transform: translateX(75%) ;
    position: absolute;
    visibility: collapse;
    opacity: 0;
}to{
    transform: translateX(0%) ;
    visibility: visible;
    position: inherit;
    opacity: 1;
}
}

@keyframes outLeft {
from{
    transform: translateX(0%) ;
    visibility: visible;
    position: inherit;
    opacity: 1;
}to{
    transform: translateX(-75%) ;
    position: absolute;
    visibility: collapse;
    opacity: 0;
}
}

@keyframes rotateOutLeft {
from {
    transform: translateX(0%) rotate(0deg) ;
    visibility: visible;
    position: inherit;
    opacity: 1;
}
to {
    transform: translateX(-75%) translateY(25%) rotate(-90deg) ;
    visibility: hidden;
    position: absolute;
    opacity: 0;
}
}

@keyframes rotateInRight {
from {
    transform: translateX(75%) translateY(25%) rotate(-90deg) ;
    opacity: 0;
}
to {
    transform: translateX(0%) rotate(0deg) ;
    opacity: 1;
}
}

@media screen and (max-width: 1280px) {
    .root{
        display:flex;
        flex-direction: column;
        margin: 25px 0px;
    }

    .showcase{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    #profile{
        flex-direction: column;
    }

    #name{
        text-align: center;
        margin: 45px 0px;
        font-size: 15px;
    }

    .section-container{
        padding: 10px 15px;
        margin: 5px 15px;
        max-width: 300px;
    }

    .project-wrapper{
        max-width: 80vw;
        font-size: 12px;
        max-width: 800px;
    }

    .skill{
        font-size: 10px;
    }

    .skill-icon{
        height: 30px;
    }

}

.slideshow-container{
    overflow: hidden;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.3);
}
.bx-sw{
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.7);
    /* box-shadow: 0 0 15px 3px rgba(60, 80, 80, 1); */
}
.image-container{
    width: 205px;
    height: 150px;
    margin: 50px 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    cursor: pointer;
}
@media screen and (max-width: 1280px) {
    .image-container{
        width: 150px;
        height: 100px;
    }
}
.profile-img,.profile-img-back{
    border-radius: 50%;
    width: 100%;
    border: 5px solid rgb(60,80,80);
}

.image-container:hover{
    transform: rotateY(180deg);
    /* transform: translateY(-10px); */
    /* transform: rotateY(180deg) translateY(-10px); */
}
.thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
#links{
    --num-of-links: 3;
    height: calc(50px * var(--num-of-links) + 80px);
    padding: 0px 20px 15px 20px;
}
#links a{
    margin: 0;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
}
#links .link-image{
    transition: 0.3s;
}

#links a:hover{
    transform: translateY(-10px);
    font-size: 18px;
    padding: 10px 15px 15px 15px;
    /* background-color: rgb(60, 60, 60); */
    background: rgb(60, 80, 80);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 1);
}
#links a:hover .link-image{
    height: 25px;
}
.skill{
    padding: 5px;
    border-radius: 15px;
}
.skill,.skill img{
    transition: 0.3s;
}
.skill:hover{
    background: rgb(60, 80, 80);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 1);
}

